# For PCBs designed using KiCad: http://www.kicad-pcb.org/

.*swp
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp

# Autorouter files (exported from Pcbnew)
.dsn

# Exported BOM files
*.xml
*.csv
Projects/.DS_Store
Projects/StarWarsAutomation/.DS_Store
.DS_Store
*.gbl
*.gbr
*.gbs
*.gbp
*.gbo
*.gm1
*.gtl
*.gts
*.gtp
*.gto
*.ps
*.drl
*.zip
