<!doctype html>
<html lang="en">
   <head>
     <title>Rewire</title>
   </head>
   <body>
    <h2>Rewire Module KiCad Template</h2>
    This template is set up with the layers and design rules for OSH Park. <br />
    It also comes preset with some user-friendly tweaks.<br />
    It includes Brown Dog Gadgets' company-specific information.<br />
    You may want to download it and edit things to make it work for you.
    <br /><br />
    To use the template, see the instructions on the Rewire Circuits page.
    <br /><br />
    <ul>
      <li><a href="http://docs.oshpark.com/services/two-layer/">OSH Park 2 Layer Specs</a>
      <li><a href="http://browndoggadgets.com">Brown Dog Gadgets</a></li>
      <li><a href="http://github.com/wickerbox/rewire-circuits/">Rewire Circuits</a></li>
    </ul>
  </body>
</html>

